html,
body {
  display: grid;
}

html {
  height: 100%;
  width: 100%;
}

.punchtext {
  background: transparent;
  place-self: center;
  padding: 0px 400px;
  background: #fff;
  font-size: 75px;
  font-weight: 800;
  text-align: center;
  mix-blend-mode: screen;
  text-wrap: wrap;
}
